<div class="container">
  <div class="row">
    <div class="col-12">
      <span class="bg-light px-2 h4 mb-3">注文履歴詳細</span>
      <div class="form-group row mt-4"> <!-- こちらの全角スペースを削除しました -->
        <label class="col-3 col-form-label font-weight-bold">購入者</label>
        <div class="col-6">
          <%= link_to "#{@order.customer.last_name} #{@order.customer.first_name}", admin_customer_path(@order.customer), class: "text-dark text-decoration-underline" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label font-weight-bold">注文日</label>
        <div class="col-4">
          <%= @order.created_at.strftime('%Y/%m/%d') %>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label font-weight-bold">住所</label>
        <div class="col-9">
          <p>〒<%= @order.postal_code %><%= @order.address %></p>
          <p><%= @order.name %></p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label font-weight-bold">支払い方法</label>
        <div class="col-4">
          <%= Order.payment_methods_i18n[@order.payment_method.to_sym] %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-8">
          <table class="table table-bordered">
            <thead class="bg-light">
              <tr>
                <th>商品名</th>
                <th>単価（税込）</th>
                <th>数量</th>
                <th>小計</th>
              </tr>
            </thead>
            <tbody>
              <% @order.order_details.each do |detail| %>
                <tr>
                  <td><%= detail.item.name %></td>
                  <td>¥<%= number_with_delimiter(tax_included_price(detail.item.price)) %></td>
                  <td><%= detail.amount %></td>
                  <td>¥<%= number_with_delimiter(tax_included_price(detail.item.price * detail.amount)) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="col-md-4 mt-5">
          <div class="d-flex flex-column h-100"> <!-- 縦方向の高さを最大に -->
          　<div class="mt-auto">  <!-- 縦方向の最後に配置 -->
            　<table class="table">
              　<tbody>
                　<tr>
                  　<td class="h4 font-weight-bold">商品合計</td>
                  　<td class="h4 text-end">¥<%= number_with_delimiter(@total_price - @order.postage) %></td> <!-- 右寄せ -->
                　</tr>
                　<tr>
                  　<td class="h4 font-weight-bold">送料</td>
                  　<td class="h4 text-end">¥<%= number_with_delimiter(@order.postage) %></td> <!-- 右寄せ -->
                　</tr>
                　<tr>
                  　<td class="h4 font-weight-bold">請求金額合計</td>
                  　<td class="h4 text-end">¥<%= number_with_delimiter(@total_price) %></td> <!-- 右寄せ -->
                　</tr>
              　</tbody>
            　</table>
          　</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
