<div class="container">
  <div>
    <%= flash[:notice] %>
  </div>

  <% unless @cart_items.empty? %>
    <!-- カートが空でない場合のみ以下を表示 -->
    <div class="row">
      <div class="col-12 mt-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <span class="bg-light px-2 h4">ショッピングカート</span>
          <%= link_to 'カートを空にする', '/cart_items/destroy_all', method: :delete, class: 'btn btn-danger', data: { confirm: "カートを空にしますか？" } %>
        </div>
        <table class="table table-bordered">
          <thead class="bg-light">
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
              <%= form_with(url: cart_item_path(cart_item), method: :patch, local: true) do |f| %>
                <tr>
                  <td><%= image_tag cart_item.item.image, size: "100x100" %><%= cart_item.item.name %></td>
                  <td>¥<%= number_with_delimiter(tax_included_price(cart_item.item.price)) %></td>
                  <td>
                    <div class="d-flex align-items-center">
                      <%= f.select :amount, options_for_select((1..50).to_a, selected: cart_item.amount), {}, class: 'form-control w-50' %>
                      <%= f.submit '変更', class: 'btn btn-success ml-2' %>
                    </div>
                  </td>
                  <td>¥<%= number_with_delimiter(tax_included_price(cart_item.item.price) * cart_item.amount) %></td>
                  <td>
                    <%= link_to '削除する', cart_item_path(cart_item), method: :delete, class: 'btn btn-danger', data: { confirm: "「#{cart_item.item.name}」#{cart_item.amount} 個を削除しますか？" } %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <div class="d-flex justify-content-between align-items-center mt-4">
          <a href="<%= root_path %>" class="btn btn-primary mr-3 col-2">
            買い物を続ける
          </a>
          <div class="table-responsive col-3">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td class="w-50 bg-light">合計金額</td>
                  <td class="w-50 text-right">¥<%= number_with_delimiter(tax_included_price(@total_price)) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row mt-5 row-content">
          <div class="col-md-6 text-right">
            <%= link_to '情報入力へ進む', new_order_path, class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <!-- カートが空の場合 -->
    <h4 class="text-center mt-4">ショッピングカートは空です。</h4>
    <div class="d-flex justify-content-center align-items-center mt-4">
      <a href="<%= root_path %>" class="btn btn-primary mt-4">買い物を続ける</a>
    </div>
  <% end %>
</div>
