<div class="container">
  <div class="row">
    <div class="col-12">
      <span class="bg-light px-2 h4 mb-3">注文情報確認</span>

      <!-- BootstrapのGrid Systemを使って並べます -->
      <div class="row">
        <div class="col-md-8">
          <!-- 商品情報のテーブル -->
          <table class="table table-bordered">
            <thead class="bg-light">
              <tr>
                <th>商品名</th>
                <th>単価（税込）</th>
                <th>数量</th>
                <th>小計</th>
              </tr>
            </thead>
            <tbody>
              <% @cart_items.each do |cart_item| %>
                <tr>
                  <td><%= cart_item.item.name %></td>
                  <td>¥<%= number_with_delimiter(tax_included_price(cart_item.item.price)) %></td>
                  <td><%= cart_item.amount %></td>
                  <td>¥<%= number_with_delimiter(tax_included_price(cart_item.item.price) * cart_item.amount) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="col-md-4">
          <!-- 送料や請求金額のテーブル -->
          <div class="table-responsive">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td class="w-50 bg-light">送料</td>
                  <td class="w-50 text-right">¥<%= number_with_delimiter(@order.postage) %></td>
                </tr>
                <tr>
                  <td class="w-50 bg-light">商品合計</td>
                  <td class="w-50 text-right">¥<%= number_with_delimiter(@total_price) %></td>
                </tr>
                <tr>
                  <td class="w-50 bg-light">請求金額</td>
                  <td class="w-50 text-right">¥<%= number_with_delimiter(@total_price + @order.postage) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- お支払い方法とお届け先の情報 -->
      <div class="form-group row mt-4">
        <label class="col-3 col-form-label font-weight-bold">お支払い方法</label>
        <div class="col-4">
          <p><%= Order.payment_methods_i18n[@order.payment_method.to_sym] %></p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label font-weight-bold">お届け先</label>
        <div class="col-4">
          <p>〒<%= @order.postal_code %><%= @order.address %></p>
          <p><%= @order.name %></p>
        </div>
      </div>
      <div class="form-group row text-right ">
        <div class="col-6">
          <%= form_with(model: @order, url: orders_path, method: :post) do |f| %>
            <%= f.hidden_field :payment_method, value: @order.payment_method %>
            <%= f.submit "注文を確定する", class:"btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
