<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-5 py-5 px-sm-0 ">
      <div class="form-group row">
        <span class="bg-light px-2 h4 mb-3">注文情報入力</span>
      </div>
      <%= form_with(model: @order, url: orders_check_path, method: :post) do |f| %>
        <!-- お支払い方法 -->
        <div class="form-group row">
          <label class="col-3 col-form-label font-weight-bold">お支払い方法</label>
          <div class="col-4">
            <div class="form-check">
              <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
              <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
            </div>
            <div class="form-check">
              <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
              <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
            </div>
          </div>
        </div>
        <!-- お届け先 -->
        <div class="form-group row">
          <label class="col-3 col-form-label font-weight-bold">お届け先</label>
          <div class="col-9">
            <p>〒<%= "#{@customer.postal_code}#{@customer.address}" %></p>
            <p><%= "#{@customer.last_name}#{@customer.first_name}" %></p>
          </div>
        </div>
        <div class="form-group row text-right ">
          <div class="col-6">
            <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
