<p id="notice"></p>
<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 px-5 py-5 px-sm-0 ">
      <div class="row">
        <!-- 画像を左側に配置 -->
        <div class="col-md-6">
          <%= image_tag @item.image , size: "250x200"%>
        </div>
        <!-- 商品の詳細を右側に配置 -->
        <div class="col-md-6">
          <div class="form-group row">
            <div class="col-9">
              <h2><%= @item.name %></h2> <!-- 商品名を大きく表示 -->
            </div>
          </div>
          <div class="form-group row">
            <div class="col-9">
              <h4><%= @item.introduction %></h4> <!-- 商品説明を大きく表示 -->
            </div>
          </div>
          <div class="form-group row">
            <div class="col-8 d-flex align-items-center">
              <h3>¥<%= number_with_delimiter(tax_included_price(@item.price)) %> </h3><h6>(税込)</h6> <!-- 価格を大きく、税込で表示 -->
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 d-flex align-items-center">
              <%= form_for CartItem.new, url: cart_items_path do |f| %>
              <%= f.hidden_field :item_id, value: @item.id %>
              <%= f.select :amount, options_for_select(['個数選択'] + (1..10).to_a), {}, class: 'form-control' %>
              <%= f.submit 'カートに入れる', class: 'btn btn-success mt-2 ml-2' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
